include README.md
recursive-include octoprint_TwinDragon600CM4TouchUI/templates *
recursive-include octoprint_TwinDragon600CM4TouchUI/config *
include versioneer.py
include octoprint_TwinDragon600CM4TouchUI/_version.py